.footer {
  background-color: #21325e;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 300px;
  margin-bottom: 30px;
}

.footer h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 12px;
  margin: 0;
}
